* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-height: 100vh;
  background-image: url(../assets/fundo-cadastro.svg);
  background-size: cover;
  background-repeat: no-repeat;
  object-fit: cover;
}

.container {
  
}
